<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    
    <h1>events</h1>
    <ul class="people_list">
  {{#each events}}
  <li>
      <h3>{{this.blockHash}}</h3>
      <p>{{this.blockNumber}}</p>
      <p>{{this.address}}</p>
      <p>{{this.event}}</p>
      <p>{{this.topics}}</p>
  </li>
  {{/each}}
</ul>
</body>
</html>